* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgrey;
}

.centercalcy {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 400px;
  height: 500px;
  box-shadow: 0 0 10px 1px grey;
}

#app_name {
  padding: 2px 0 2px 10px;
  width: inherit;
  font-size: 0.9rem;
  background: #303030;
  color: white;
  border: none;
  outline: none;
}

#display_answer {
  width: inherit;
  height: 100px;
  background-color: #303030;
  font-size: 2rem;
  color: white;
  text-align: right;
  border: none;
  outline: none;
}

.layer1 {
  width: inherit;
  height: 87px;
  display: flex;
  justify-content: center;
}

.layer2 {
  width: inherit;
  height: 38px;
  display: flex;
  justify-content: center;
}

input {
  flex: 1;
  font-size: 1.4rem;
  color: white;
  border: 1px solid #504f4f;
  outline: none;
}

.main_num {
  background-color: #101011;
  color: white;
}

.oper {
  background-color: #303030;
}

#clearbutton {
  font-size: 1rem;
}
